  <!-- Site footer -->
  <footer class="site-footer">
    <div class="container">

      <hr>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-sm-6 col-xs-12">
          <p class="copyright-text">Code by
       <a href="https://www.facebook.com/quyet0808/">Hoang Cong Quyet</a>.
          </p>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <ul class="social-icons">
            <li><button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button></li>
            <li><button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button></li>
            <li><button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>delete</mat-icon>
            </button></li>
            <li><button mat-fab color="primary" aria-label="Example icon button with a delete icon">
              <mat-icon>email</mat-icon>
            </button></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
